* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
a:hover, a:active, a:link, a:visited {
    text-decoration: none;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    svg {
        width: 20px;
        height: 20px;
    }
}