<main>
    <ul class="feed">
        <% @photo.each do |photo| %>
            <li class="feed__item">
                <%= link_to(photo) do %>
                    <%= image_tag photo.image.url(:medium) %>
                <% end %>
            </li>
        <% end %>
    </ul>
</main>