<div class="container" id="sign-up-form">
  <div class="row align-items-center flex-column">
    <div class="col-sm-12 col-md-4">
      <h2 class="text-center">New Photo</h2>

        <%= render 'form' %>
		
    </div>
  </div>
</div>