main {
    margin: 0 auto;
    width: 100%;
    max-width: 1320px;
}

.feed { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-items: center;

    a {
        display: inline-block;
    }

    img {
        width: auto;
        max-width: 100%;
        height: auto !important;
        max-height: 350px;
    } 
  }