.navigation, .navbar {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    a {
        color: $primaryText !important;
        &:hover {
            text-decoration: none;
        }
    }
}