<footer class="navigation navbar fixed-bottom">
    <button class="btn" type="button">
        <span class="icon icon-wrapper"><i data-feather="moon"></i></span>
    </button>

    <button class="btn" type="button">
        <span class="icon icon-wrapper"><i data-feather="info"></i></span>
    </button>
</footer>