<nav class="navigation navbar fixed-top">
    <button class="btn" type="button">
        <span class="icon icon-wrapper"><i data-feather="grid"></i></span>
    </button>

    <div class="brand-wrapper">
        <%= link_to 'Brand Title', root_path, class: "brand" %>
    </div>

    <%= render 'layouts/navigation/dropdown' %>
</nav>